{
  "SECRET_KEY": "supersecretkey",
  "REDIS_HOST": "localhost",
  "REDIS_PORT": 6379,
  "LDAP_SERVER": "ldap.example.com",
  "LDAP_PORT": 389,
  "LDAP_BIND_USER": "cn=admin,dc=example,dc=com",
  "LDAP_BIND_PASSWORD": "ldap_password",
  "LDAP_SEARCH_BASE": "dc=example,dc=com",
  "LDAP_SEARCH_FILTER": "(uid={username})",
  "LDAP_USER_ATTRIBUTE": "uid",
  "LDAP_GROUP_DN": "ou=groups,dc=example,dc=com",
  "DB_CONNECTION_STRING": "postgres+psycopg2://user:password@localhost:5432/db",
  "LOCAL_DB": false,
  "NODE_UPDATE_INTERVAL": 10,
  "ACCESS_TOKEN_EXPIRE_SECONDS": 1800
}